header,
nav,
section,
aside,
article,
footer,
main,
figure {
    display: block;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 80%;
    margin: auto;
}

.clear {
    clear: both;
}


/* HEADER */

.header-logo {
    width: 200px;
}

.header-content nav {
    background-color: #000000;
    height: 45px;
    padding-left: 10px;
    margin-top: 10px;
}

.header-content nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 45px;
    margin-right: 15px;
}


/* CAROUSEL */

.carousel {
    background-image: url(./images/slider_1.jpg);
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


/* INTRO */

.intro-text {
    text-align: justify;
    font-size: 20px
}

.intro-text b {
    color: red;
}

.intro-product {
    margin: -10px;
}

.intro-left,
.intro-right {
    float: left;
    width: 50%;
}

.intro-item {
    padding: 10px;
}

.intro-item-50 {
    float: left;
    width: 50%;
}

.intro-item img {
    width: 100%;
    display: block;
}


/* PRODUCT */

.product {
    margin: -10px;
}

.product>h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
}

.product-item {
    float: left;
    width: 25%;
    padding: 0 10px;
}

.product-item img {
    width: 100%;
}

.product-item h2 {
    font-size: 25px;
}

.product-item p {
    font-size: 14px;
    padding: 5px 0;
    padding-bottom: 15px;
    word-spacing: 3px;
    letter-spacing: 1px;
}

.product-item a {
    text-decoration: none;
    color: #ffffff;
    background-color: #d9514e;
    padding: 10px 20px;
    border-radius: 5px;
}


/* BANNER */

.banner {
    margin-top: 30px;
    position: relative;
}

.banner>img {
    width: 100%;
}

.banner-content {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 5%;
    left: 20%;
    background-color: rgba(165, 42, 42, 0.5);
    border-radius: 50%;
    color: #FFFFFF;
    text-align: center;
    padding-top: 50px;
}

.banner-content p:first-child {
    font-size: 35px;
    margin: 0;
}

.banner-content p:nth-child(2) {
    font-size: 70px;
    font-weight: 600;
    margin: 0;
}

.banner-content p:last-child {
    font-size: 20px;
    margin: 0;
    line-height: 30px;
}


/* SERVICES */

.service {
    margin: 18px auto;
    width: 60%;
}

.service-item {
    float: left;
    width: 33.33%;
    text-align: center;
}

.service-item i {
    font-size: 50px;
}


/* FOOTER */

.footer {
    background-color: #000000;
    text-align: center;
    color: #FFFFFF;
    padding: 25px 0;
}

.footer h2 {
    margin: 0;
    font-size: 35px;
}

.footer p {
    margin: 0;
    font-size: 20px;
}