/* GLOBAL CSS */
header,
section,
nav,
footer,
aside,
main,
article,
figure {
  display: block;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.section-padding {
  width: 90%;
  margin: auto;
}
/* END GLOBAL CSS */

/* FIXED BUTTON CSS */
.btn-fixed {
  position: fixed;
  bottom: 1%;
  right: 1%;
  z-index: 1;
}
/* END FIXED BUTTON CSS */

/* HEADER CSS */

.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo a {
  display: flex;
  align-items: baseline;
  justify-content: center;
  text-decoration: none;
}

.header__logo a span {
  color: #82b62e;
  font-size: 28px;
  padding-right: 12px;
  font-weight: 600;
}

.header__logo a h1 {
  font-size: 50px;
  color: #000000;
}

.header__right {
  padding: 40px 0 10px 0;
}

.header__contact {
  color: #999999;
  font-size: 16px;
  text-align: right;
  padding-bottom: 20px;
}

.header__contact i {
  padding-left: 20px;
}

.header__contact a {
  color: #999999;
  text-decoration: none;
}

.header__contact a:hover {
  color: #de4c1d;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header__nav ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  margin-right: 60px;
}

.header__nav ul li {
  margin-right: 20px;
}

.header__nav ul li a {
  color: #2f2f2f;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
}

.header__nav ul li a:hover {
  color: #de4c1d;
}

.header__nav ul li.active a {
  color: #de4c1d;
}

.header__social a {
  text-decoration: none;
  font-size: 18px;
  color: #2f2f2f;
  padding-right: 16px;
}

.header__social a:hover {
  color: #de4c1d;
}
/* END HEADER CSS */

/* CAROUSEL CSS */
.carousel {
  background: url(../IMAGES/1.jpg) no-repeat center center;
  background-size: cover;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding-top: 80px;
}

.carousel p {
  font-size: 18px;
  line-height: 36px;
}

.carousel p:first-child {
  letter-spacing: 10px;
  font-weight: 600;
}

.carousel h2 {
  font-size: 80px;
  font-weight: 900;
  line-height: 80px;
  padding-bottom: 20px;
}

.carousel p:nth-child(3) {
  padding: 30px 0;
}

.btn-more {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #82b62e;
  border: none;
  padding: 10px 30px;
  margin: 10px 0;
  cursor: pointer;
}

.btn-more:hover {
  background-color: #3b5f02;
}

.carousel__btn {
  margin-top: 120px;
}

.carousel__btn input {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.carousel__btn input:first-child {
  background-color: #82b62e;
}
/* END CAROUSEL CSS */

/* ABOUT CSS */
.about {
  margin-bottom: 80px;
}

.about h2 {
  text-align: center;
  color: #424242;
  font-size: 50px;
  padding: 50px 0;
}

.about__list {
  display: flex;
  justify-content: space-between;
}

.about__item p {
  color: #a599a5;
  font-size: 18px;
  line-height: 30px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.about__item img {
  display: block;
}

.about__text__1 {
  padding-right: 30px;
}

.about__text__2 {
  padding-left: 30px;
}
/* END ABOUT CSS */

/* SERVICE CSS */
.service {
  background-color: #f0f5f8;
  text-align: center;
  padding: 60px 0;
}

.service h2 {
  font-size: 50px;
  letter-spacing: 10px;
}

.service__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.service__item {
  padding: 50px 0;
  margin-right: 20px;
}

.service__item i {
  color: #82b62e;
  font-size: 35px;
  padding: 16px;
  background-color: #ffffff;
}

.service h2,
.service__item h3 {
  color: #424242;
}

.service__item h3 {
  padding: 25px 0;
}

.service-item p {
  color: #b8c0d0;
}
/* END SERVICE CSS */

/* NEWS CSS */
.news {
  margin: 50px 0;
}

.news h2 {
  text-align: center;
  color: #424242;
  font-size: 50px;
  padding: 50px 0;
}

.news__content {
  display: flex;
}

.news__content__right {
  padding-left: 40px;
}

.news__content__right__top {
  display: flex;
}

.news__content__right__top a {
  text-decoration: none;
  color: #2f2f2f;
}

.news__content__right__top a:hover {
  color: #de4c1d;
}

.calendar {
  padding-left: 80px;
}

.news__content__right p {
  padding: 50px 40px;
  font-size: 40px;
  font-weight: 900;
}
/* END NEWS CSS */

/* CLUB CSS */
.club {
  background: url(../IMAGES/5.jpg) no-repeat center center;
  background-size: cover;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.club h2 {
  color: #ffffff;
  font-size: 50px;
  letter-spacing: 5px;
  padding-bottom: 50px;
}

.club__form input {
  width: 500px;
  font-size: 16px;
  padding: 16px 10px;
  border: none;
}

.club__form button {
  background-color: #82b62e;
  border: none;
  font-size: 16px;
  padding: 16px 20px;
  cursor: pointer;
}

.club__form button i {
  color: #ffffff;
}

.club__bottom {
  background-color: rgba(30, 46, 71, 0.8);
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
}
/* END CLUB CSS */

/* HISTORY CSS */
.history {
  display: grid;
  grid-template-columns: 35% 35% 15% 15%;
  padding: 50px 0 30px 0;
  text-align: justify;
}

.history__item p,
.history__item span,
.history__item i {
  color: #8a8a8a;
  font-size: 16px;
}

.history__item h3 {
  padding: 20px 0;
}

.history__item p {
  padding: 10px 40px 10px 0;
}

.history__item i {
  padding-right: 20px;
}

.history__item a {
  text-decoration: none;
  color: #82b62e;
}

.history__item__3 p {
  padding: 3px 0;
}

.history__item__3 span {
  font-weight: bold;
}

.history__item__4 ul {
  padding-left: 20px;
}

.history__item__4 ul li {
  text-decoration: none;
  list-style: none;
  padding: 5px 0;
}

.history__item__4 ul li a {
  color: #8a8a8a;
  font-weight: 600;
}

.history__item__4 ul li a:hover {
  color: #de4c1d;
}
/* END HISTORY CSS */

/* FOOTER CSS */
.footer {
  background-color: #0f1215;
  color: #ffffff;
  text-align: center;
}

.footer p {
  padding: 30px 0;
}

.footer span {
  color: #82b62e;
}
/* END FOOTER CSS */
