/* GLOBAL CSS */
header,
section,
footer,
aside,
nav,
main,
article,
figure {
  display: block;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

.section-padding {
  width: 90%;
  margin: auto;
}
/* END GLOBAL CSS */

/* HEADER CSS */
.header {
  background-color: #ffffff;
  padding: 0px 5%;
  position: relative;
}

.header__logo {
  position: absolute;
  top: 36%;
}

.header__logo a {
  text-decoration: none;
  color: #dc4311;
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
}

.header__logo p {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  padding-left: 10px;
}

.header__navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header__navbar a {
  color: #31c0ff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  margin-right: 20px;
  padding: 20px 0;
}

.header__navbar a:hover {
  color: #dc4311;
}

.header__navbar a.active {
  color: #dc4311;
}
/* END HEADER CSS */

/* CAROUSEL CSS */
.carousel {
  height: 500px;
  background: url(../images-layout1/banner.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
  padding-right: 8%;
}

.carousel h2,
.carousel p {
  background-color: rgba(115, 125, 131, 0.8);
  word-spacing: 4px;
  letter-spacing: 10px;
  color: #323232;
  padding-right: 20px;
}

.carousel h2 {
  font-size: 50px;
  font-weight: 600;
}

.carousel p:nth-child(2) {
  font-size: 14px;
  margin: 40px 0 15px 0;
}
/* END CAROUSEL CSS */

/* INTRO CSS */
.intro {
  background-color: #31c0ff;
}

.intro-content h2 {
  background-color: #72afc8;
  display: inline-block;
  font-weight: 500;
  margin: 25px 0;
}

.intro-content p {
  font-size: 16px;
  color: #b8d8d8;
  padding-bottom: 50px;
}
/* END INTRO CSS */

/* TEAM CSS*/
.team > h2,
.team > p {
  padding: 10px 0;
  text-align: center;
}

.team > h2 {
  margin-top: 15px;
  font-size: 60px;
  font-weight: 500;
}

.team > p {
  color: #909090;
  font-size: 16px;
  padding-bottom: 20px;
}

.team__item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.team__item img {
  width: 100%;
  height: 450px;
}

.team__text {
  padding-top: 10px;
  padding-left: 10px;
}

.team__text i {
  color: #31c0ff;
  font-size: 40px;
  font-weight: bold;
}

.team__text h2 {
  color: #eb5424;
  font-size: 40px;
  font-weight: 500;
  display: inline;
  padding-left: 10px;
}

.team__text p {
  margin-bottom: 0;
  color: #909090;
  padding: 20px 0 20px 42px;
}
/* END TEAM CSS*/

/* GALLERY CSS*/
.gallery {
  margin-bottom: 100px;
}

.gallery__content h2 {
  font-weight: 600;
  text-align: center;
  font-size: 50px;
  padding: 20px 0;
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gallery__grid img {
  width: 100%;
  padding: 5px;
}
/* END GALLERY CSS*/

/* SERVICE CSS */
.service {
  margin-bottom: 80px;
}

.service__content h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 20px;
}

.service__list {
  display: flex;
  justify-content: space-between;
}

.service__text h3 {
  font-size: 28px;
  font-weight: 500;
  padding: 40px 0 14px 0;
}

.service__text h3:first-child {
  padding-top: 0px;
}

.service__text span {
  color: #999999;
  font-size: 20px;
  font-weight: 500;
}

.service__text i {
  color: #31c0ff;
  font-size: 24px;
  padding-right: 10px;
}

.service__img {
  background-image: url(../images-layout1/index-serives.jpg);
  background-size: cover;
  width: 40%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #31c0ff;
  padding-left: 50px;
}

.service__img ol {
  margin-left: 0;
  list-style: none;
  counter-reset: item;
}

.service__img ol li {
  font-size: 25px;
  padding: 20px 0;
}

.service__img ol li:before {
  content: counter(item);
  counter-increment: item;
  font-weight: bold;
}

.service__img ol li span {
  color: #ffffff;
  padding-left: 34px;
  font-size: 20px;
}
/* END SERVICE CSS */

/* FOOTER CSS */
.footer {
  background-color: #242424;
}

.footer__content {
  padding: 50px 0px 30px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer__content h3,
.footer__content h2 {
  color: #ffffff;
  padding-bottom: 20px;
}

.footer__nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__nav ul li {
  padding: 10px 0;
}

.footer__nav ul li a,
p {
  color: #7b8484;
  text-decoration: none;
  font-size: 16px;
}

.footer__nav ul li a:hover {
  color: #eb5424;
}

.footer__contact p {
  line-height: 46px;
}

.footer__email input {
  margin: 20px 0;
  padding: 10px 0px 10px 6px;
  border: none;
  width: 70%;
  font-size: 16px;
  color: #757575;
}

.footer__email button {
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  background-color: #eb5424;
  padding: 10px 22px;
  margin-left: -6px;
  border: none;
}

.footer__copyright {
  margin: auto;
}

.footer__copyright h2 {
  font-size: 50px;
  font-weight: 500;
}

.footer__copyright a {
  color: #eb5424;
  line-height: 50px;
  text-decoration: none;
}
/* END FOOTER CSS */
