// BACKGROUND COLOR
$background: ("primary": #fa4226,
    "secondary": #4a4a4a,
    "white": #ffffff,
    "black": #222222,
    "black_1": #4a4a4a,
    "green": #00ac4d,
    "blue_hell": #60c5ef);

// TEXT COLOR
$txtColor: ("primary": #fa4226,
    "secondary": #4a4a4a,
    "white": #ffffff,
    "black": #000000,
    "grey_1": #949494,
    "grey_2": #9b9b9b);

// FONT SIZES
$fontSize: ("h4": 32px,
    "h5": 24px,
    "h6": 20px,
    "subtitle1": 13px,
    "subtitle2": 12px,
    "body1": 16px,
    "body2": 14px);

// FONT WEIGHTS
$fontWeight:("bold": 700,
    "medium": 600,
    "regular":400,
    "light":300);
// SPACING
$spacing: 10px;

// Responsive
$breakpoints: ('extra-large': 1199px,
    'large': 991px,
    'medium': 767px,
    'small': 575px,
)